/*NAVBAR*/

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}
 
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* Saat lebar layar kurang dari 680 pixel, sembunyikan semua menu item kecuali item yang pertama yaitu("Home"). Tampilkan juga list item yang berisi link untuk membuka menu yaitu (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
 
/* Class dengan nama "responsive" akan ditambahkan oleh JavaScript saat user mengklik icon. Munculnya Class ini akan mendisplay isi list menu 
*/
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* Wrapper */
.menu-wrap {
    background-color:#8D6E63; 
    height:50px; 
    line-height:50px; 
    position:relative;
    width:1353px;
    margin:auto;
    margin-left:0px;
     }
 
.menu-wrap ul {
    list-style:none;
     }
 
.menu-wrap ul li a {
    float:left; 
    width:150px; 
    display:block; 
    text-align:center; 
    color:#FFF; 
    text-decoration:none; 
    text-transform:uppercase;
     }
 
.menu-wrap ul li a:hover {
    background-color:#666; 
    display:block;
     }
 
.menu-wrap ul li:hover ul {
    display:block;
     }
 
.menu-wrap ul ul {
    display:none; 
    list-style:none; 
    position:absolute; 
    background-color:#fff;
    left:300px; 
    top:50px; 
    width:190px;
     }
 
.menu-wrap ul ul li a {
    color: black;
    float:none; 
    display:block; 
    padding-left:30px; 
    text-align:left; 
    width:160px;
     }
 
.menu-wrap ul ul li a:hover {
    color:#fff;
      }
